$comicSearchBackground: #f1f1f1;

.comicSearchForm {
  display: flex;
  height: 90%;

  button {
    margin: 1rem 0.35rem;
    border: none;
    background: darken($comicSearchBackground, 10%);
    color: lighten(#010101, 5%);
  }

  .comicSearchFormElement {
    margin-top: 0.85rem;
    flex: 0 1 auto;
    min-width: 30%;
  }

  .comicResults {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    margin: 1rem;
    background: $comicSearchBackground;
    border: 3px solid $comicSearchBackground;
  }
}

.formRow {
  padding: 0.5rem;
  display: table-row;
  label {
    padding: 0.5rem;
  }
}

.block {
  display: table;
}
.row {
  display: table-row;
}
label {
  display: table-cell;
}

@media only screen and (max-width: 1000px) {
  .comicSearchForm {
    flex-direction: column;

    input {
      border: 1px solid #ccc;
      width: 100%;
    }
  }
  .comicResults {
    overflow: hidden;
  }
}
