// FIXME: centralize variables
$comicSearchBackground: #f1f1f1;

.comicSearchForm {
  display: flex;
  height: 90%;

  .comicSearchFormElement {
    margin-top: 0.85rem;
    flex: 0 1 auto;
    min-width: 25%;
    margin-right: 1rem;
  }
}

.closeX {
  font-size: 3rem;
  cursor: pointer;
  color: red;
  position: absolute;
  top: 0;
  right: 1rem;
}

.storageContainersDropdown {
  margin: 2rem 0 0 0;
  display: flex;
}

.iconBox {
  padding: 0 1.5rem;
  font-size: 2.5rem;
  display:flex;
  align-items: center;
}

.formRow {
  padding: 0.5rem;
  display: table-row;
  label {
    padding: 0.5rem;
  }
}

.block {
  display: table;
}
.row {
  display: table-row;
}
label {
  display: table-cell;
}

.storageContainerSection {
  padding: .5rem;
  max-height: 90%;
}

@media only screen and (max-width: 1000px) {
  .comicSearchForm {
    flex-direction: column;

    input {
      border: 1px solid #ccc;
      width: 100%;
    }
  }
}
