.scannerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
}

.scannerWrapper {
  padding: 1rem;
}

.closeScanner {
  font-size: 2rem;
  background: transparent;
  border: none;
}

.barcodeReader {
  width: 100%;
  position: relative;
  z-index: 2;
}

.barcodeInstructionFeed {
  font-size: 1.15rem;
}

.barcodeReaderStart {
  border: 0;
  color: #fff;
  background: green;
  text-transform: uppercase;

  width: 100%;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 800;
}

.barcodeResult {
  overflow-wrap: break-word;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 3rem;
  width: 100%;

  font-size: 1rem;
  font-weight: 900;
}
